# Base de datos
DATABASE_URL="sqlserver://localhost:1433;database=UsersDB;user=sa;password=TuPassword;trustServerCertificate=true"

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_minimo_32_chars
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

# API
PORT=4000
NODE_ENV=production
API_KEY=clave_para_comunicacion_entre_servicios_internos
